.rdr-hero {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  background-color: #000;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__video,
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(150, 28, 38, 0.4) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  &__content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    text-align: left;
    max-width: 500px;
    z-index: 2;
  }

  &__subtitle {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: #dec29b; // Vintage Canvas Yellow
  }

  &__title {
    font-family: "Impact", "Arial Black", sans-serif;
    font-size: 4rem;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    text-shadow: 3px 3px 0px #961c26; // Blood Red Shadow
  }
}
